*{
    font-family: 'Times New Roman', Times, serif;
}
.nav{
    background-color: gray;
}
.logo{
    height: 30px;
}
.d-item{
    height: 300px;

}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.footer-img{
  width: 50px;
}

.card {
    height: 100%;
   
  }
  
  .card-img-top {
    height: 200px; 
    object-fit: cover;
  }
  
  .card-body {
    
    flex-grow: 1;
  }
  
  .card-body .card-text {
    flex-grow: 1;
  }
  
  .card-body .d-flex {
    margin-top: auto; 
  }
  
  .card-width {
    max-width: 18rem; 
  }
  
  

.body{
    background-color: rgb(190, 175, 151);
}
.card-cinema{
    
width: 800px !important;
    object-fit: cover;
   
}
